<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A basic tool for raffles">

    <title>Raffle Wheel Picker</title>

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>

        <div class="top-half">

            <div id="header-controls">
                <button class="page-control"
                    :disabled="spinning_prize || spinning_person"
                    :class="{active : page == 'setup'}"
                    @click="changePage('setup')">SETUP</button>
                <button class="page-control"
                    :class="{active : page == 'raffle'}"
                    @click="changePage('raffle')">RAFFLE</button>

                <button @click="resetAll()" 
                    v-if="entries.length > 0 || prizes.length > 0 || winners.length > 0"
                    style="height: 60px; background: black; color: white; border: none;">RESET ALL</button>
            </div>

            <div id="setup" class="top-content" v-if="page == 'setup' && !top_minimized" >

                <div id="setup-form">
                    <div class="logo-container">
                        <div class="event-details-top">
                            <div class="organizers">CAGAYAN DE ORO</div>
                        </div>

                        <img src="images/logo.png" alt="CDO Mech Meetup#2" width="300"/>
                        <div class="event-details-bottom">
                            <div class="location">Lifeline Coffee Brewers</div>
                            <div class="date-time">June 17, 2023, 1PM</div>
                        </div>
                    </div>

                    <div class="entry-setup">
                        
                        <div class="form-input-group">
                            <input type="text" class="text-input" v-model="new_name" placeholder="Add name" width="40"/>
                            <button @click="addSingleName()" class="button primary"
                                :disabled="new_name == ''">
                                Add one
                            </button>
                        </div>
                        
                        <div style="width: 100%;margin: 0px auto;text-align: center;font-size: 20px;font-weight: bold;">Or</div>

                        <textarea v-model="new_names" id="" cols="30" rows="3" placeholder="Add names, one per line"></textarea>
                        <div class="add-buttons">
                            <button @click="addSampleNames()" class="button primary-outline">Add sample names</button>
                            <button @click="addMultipleNames()" :disabled="new_names == ''" class="button primary" style="flex-grow:1;"> Add multiple</button>
                        </div>
                    </div>

                    <div class="prize-setup">
                        <div class="form-input-group">
                            <input type="text" class="text-input" v-model="new_prize" placeholder="Prize name"/>
                            <input type="text" class="text-input" v-model="new_sponsor" placeholder="Sponsor name"/>
                            <button @click="addSinglePrize()" class="button primary"
                                :disabled="new_prize == '' || new_sponsor == ''">
                                Add one
                            </button>
                        </div>
                        
                        <div style="width: 100%;margin: 0px auto;text-align: center;font-size: 20px;font-weight: bold;">Or</div>

                        <textarea v-model="new_prizes" id="" cols="30" rows="3" placeholder="Add prizes, one per line in this format: 'SponsorName|Prize', ex.: 'BOUY Mods|Keyboard Service Voucher' "></textarea>
                        
                        <div class="add-buttons">
                            <button @click="addSamplePrizes()" class="button primary-outline">Add sample prizes</button>
                            <button @click="addMultiplePrizes()" class="button primary" 
                                :disabled="new_prizes == ''" style="flex-grow:1;"> Add multiple</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="raffle-time" class="top-content" v-if="page == 'raffle' && !top_minimized">
                
                <div id="rollers">

                    <div class="logo-container">
                        <div class="event-details-top">
                            <div class="organizers">CAGAYAN DE ORO</div>
                        </div>

                        <img src="images/logo.png" alt="CDO Mech Meetup#2" width="300"/>
                        <div class="event-details-bottom">
                            <div class="location">Lifeline Coffee Brewers</div>
                            <div class="date-time">June 17, 2023, 1PM</div>
                        </div>
                    </div>

                    <div id="prize-roller" class="roller-container">
    
                        <div class="roller">
                            <div :class="{ rolling : spinning_prize }" class="prize-container">
                                <div class="prize-name">{{ selected_prize == null ? '' : selected_prize.name }}</div>
                                <div class="prize-sponsor">{{ selected_prize == null ? '' : selected_prize.sponsor }}</div>
                            </div>
                        </div>
                        
                        <button @click="rollPrize()" v-if="!spinning_prize" class="button primary"
                            :disabled="entries.length == 0 || prizes.length == 0">Roll Prize</button>
                        <button @click="stopRollPrize()" v-if="spinning_prize" class="button primary">STOP!</button>
    
                    </div>
                    
                    <div id="person-roller" class="roller-container">
                        <div class="roller">
                            <div :class="{ rolling : spinning_person }">{{ selected_person == null ? '' : selected_person }}</div>
                        </div>
    
                        <button @click="rollPerson()" v-if="!spinning_person"  class="button primary"
                            :disabled="entries.length == 0 || prizes.length == 0">Roll Person</button>
                        <button @click="stopRollPerson()" v-if="spinning_person" class="button primary">STOP!</button>
                    </div>
    
                </div>
    
                <div class="roller-controls">
                    <button v-if="is_not_rolling_both"
                    class="button primary"
                        :disabled="entries.length == 0 || prizes.length == 0"
                        @click="rollBoth">Roll Both</button>
                    <button v-if="spinning_prize || spinning_person" 
                        class="button primary"
                        @click="stopBoth">Stop Rolling</button>
                    <button type="button"
                        class="button primary"
                        :disabled="!can_record_result"
                        @click="saveResult">Save Result</button>

                    <button v-if="entries.length == 0 && prizes.length > 0"
                        @click="reAddAllPrizeWinners()"
                        class="button primary-outline">
                        Re-add All Names
                    </button>
                </div>

            </div>

        </div>

        <div class="bottom-half">
            <button class="button button-min-max" @click="top_minimized=!top_minimized">
                <div v-if="!top_minimized">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 3C12.2652 3 12.5196 3.10536 12.7071 3.29289L19.7071 10.2929C20.0976 10.6834 20.0976 11.3166 19.7071 11.7071C19.3166 12.0976 18.6834 12.0976 18.2929 11.7071L13 6.41421V20C13 20.5523 12.5523 21 12 21C11.4477 21 11 20.5523 11 20V6.41421L5.70711 11.7071C5.31658 12.0976 4.68342 12.0976 4.29289 11.7071C3.90237 11.3166 3.90237 10.6834 4.29289 10.2929L11.2929 3.29289C11.4804 3.10536 11.7348 3 12 3Z" fill="#000000"/>
                    </svg>
                </div>
                <div v-else>
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 3C12.5523 3 13 3.44772 13 4V17.5858L18.2929 12.2929C18.6834 11.9024 19.3166 11.9024 19.7071 12.2929C20.0976 12.6834 20.0976 13.3166 19.7071 13.7071L12.7071 20.7071C12.3166 21.0976 11.6834 21.0976 11.2929 20.7071L4.29289 13.7071C3.90237 13.3166 3.90237 12.6834 4.29289 12.2929C4.68342 11.9024 5.31658 11.9024 5.70711 12.2929L11 17.5858V4C11 3.44772 11.4477 3 12 3Z" fill="#000000"/>
                    </svg>
                </div>
            </button>

            <div class="search-container">
                <input type="text" class="search-input" v-model="search_keyword" placeholder="Search" />
                <button class="button primary" v-if="search_keyword !=''" @click="search_keyword = ''">Reset</button>
            </div>

            <div class="raffle-information">
                <div id="name-list" class="lists">
                    <div class="section-name">Entries ({{ filteredEntries.length }})</div>

                    <div v-if="entries.length > 0">
                        <div class="entry" v-for="(entry, index) in filteredEntries" :key="index">
                            
                            
                            <button class="button-icon" title="Delete"
                                v-if="page == 'setup' && !is_editing_person && winners.length == 0"
                                @click="deletePerson(index)">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 1H11V2H12V1C12 0.447715 11.5523 0 11 0H5C4.44772 0 4 0.447715 4 1V3H0V4H13L11.764 15H4.23603L3.11238 5H2.11182L3.24128 15.1021C3.29359 15.6122 3.72328 16 4.23603 16H11.764C12.2768 16 12.7065 15.6122 12.7588 15.1021L14 4H16V3H5V1Z" fill="#FF374B"/>
                                </svg>
                            </button>
                            
                            <div class="item-text" v-if="!is_editing_person|| index != edit_person_index">{{ entry }}</div>
                            <div v-else-if="index == edit_person_index" class="edit-container">
                                <input class="item-text-edit" type="text" v-model="entries[index]" placeholder="Name" />
                            </div>

                            <button class="button-icon" title="Edit"
                                v-if="page == 'setup' && !is_editing_person"
                                @click="editPerson(index)">
                                
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_7768_35547)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 8.32982L11.7216 0.60814C12.5272 -0.197463 13.8416 -0.207045 14.6541 0.605455L15.3945 1.34593C16.2071 2.15843 16.1974 3.47295 15.3918 4.27849L7.67047 12H4V8.32982ZM11.0184 2.72551L5 8.744V11H7.25623L13.2745 4.98161L11.0184 2.72551ZM11.7255 2.01842L13.9816 4.27452L14.6848 3.5714C15.1037 3.15245 15.1056 2.47118 14.6874 2.05303L13.947 1.31255C13.5288 0.894395 12.8476 0.896287 12.4287 1.31523L11.7255 2.01842Z" fill="#1996FF"/>
                                    <path d="M13 10.4989V15H1V2.99999H5.50134L6.50134 1.99999H1C0.447693 1.99999 0 2.44768 0 2.99999V15C0 15.5523 0.447693 16 1 16H13C13.5523 16 14 15.5523 14 15V9.49883L13 10.4989Z" fill="#1996FF"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7768_35547">
                                    <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>

                            </button>

                            <button class="button-icon" title="Save"
                                v-if="page == 'setup' && is_editing_person && index == edit_person_index"
                                @click="savePerson()">
                                
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_6168_322167)">
                                    <path d="M6 2H5V4H6V2Z" fill="#3BA9C2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15 0H1C0.447754 0 0 0.447754 0 1V15C0 15.5522 0.447754 16 1 16H15C15.5522 16 16 15.5522 16 15V1C16 0.447754 15.5522 0 15 0ZM15 1H13V5C13 5.55225 12.5522 6 12 6H4C3.44775 6 3 5.55225 3 5V1H1V15H3V10C3 8.89551 3.89551 8 5 8H11C12.1045 8 13 8.89551 13 10V15H15V1ZM4 1H12V5H4V1ZM12 15H4V10C4 9.44775 4.44775 9 5 9H11C11.5522 9 12 9.44775 12 10V15Z" fill="#3BA9C2"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_6168_322167">
                                    <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>

                            </button>

                        </div>
                    </div>
                </div>
                
                <div id="prize-list" class="lists">
                    <div class="section-name">Prizes ({{ filteredPrizes.length }})</div>
                    <div>
                        <div class="prize" v-for="(prize, index) in filteredPrizes" :key="index">
                            
                            <button class="button-icon" title="Delete"
                                v-if="page == 'setup' && !is_editing_prize && winners.length == 0"
                                @click="deletePrize(index)">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 1H11V2H12V1C12 0.447715 11.5523 0 11 0H5C4.44772 0 4 0.447715 4 1V3H0V4H13L11.764 15H4.23603L3.11238 5H2.11182L3.24128 15.1021C3.29359 15.6122 3.72328 16 4.23603 16H11.764C12.2768 16 12.7065 15.6122 12.7588 15.1021L14 4H16V3H5V1Z" fill="#FF374B"/>
                                </svg>
                            </button>

                            <div v-if="!is_editing_prize|| index != edit_prize_index" class="item-text">{{ prize.name }} from {{ prize.sponsor }}</div>
                            
                            <div v-else-if="index == edit_prize_index" class="edit-container">
                                <input class="item-text-edit" type="text" v-model="prizes[index].name" placeholder="Prize Name" />
                                <span> from </span>
                                <input class="item-text-edit" type="text" v-model="prizes[index].sponsor" placeholder="Sponsor" />
                            </div>

                            <button class="button-icon" title="Select Prize"
                                v-if="page == 'raffle' && !spinning_prize"
                                @click="selected_prize = prize">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_7768_35597)">
                                    <path d="M11.5027 4.76562L12.383 5.64742L6.80749 11.2325L3.7666 8.19632L4.64717 7.31425L6.80863 9.46779L11.5027 4.76562Z" fill="#1996FF"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM15 8C15 11.866 11.866 15 8 15C4.13401 15 1 11.866 1 8C1 4.13401 4.13401 1 8 1C11.866 1 15 4.13401 15 8Z" fill="#1996FF"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7768_35597">
                                    <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </button>

                            <button class="button-icon" title="Edit"
                                v-if="page == 'setup' && !is_editing_prize"
                                @click="editPrize(index)">
                                
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_7768_35547)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 8.32982L11.7216 0.60814C12.5272 -0.197463 13.8416 -0.207045 14.6541 0.605455L15.3945 1.34593C16.2071 2.15843 16.1974 3.47295 15.3918 4.27849L7.67047 12H4V8.32982ZM11.0184 2.72551L5 8.744V11H7.25623L13.2745 4.98161L11.0184 2.72551ZM11.7255 2.01842L13.9816 4.27452L14.6848 3.5714C15.1037 3.15245 15.1056 2.47118 14.6874 2.05303L13.947 1.31255C13.5288 0.894395 12.8476 0.896287 12.4287 1.31523L11.7255 2.01842Z" fill="#1996FF"/>
                                    <path d="M13 10.4989V15H1V2.99999H5.50134L6.50134 1.99999H1C0.447693 1.99999 0 2.44768 0 2.99999V15C0 15.5523 0.447693 16 1 16H13C13.5523 16 14 15.5523 14 15V9.49883L13 10.4989Z" fill="#1996FF"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7768_35547">
                                    <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>

                            </button>

                            <button class="button-icon" title="Save"
                                v-if="page == 'setup' && is_editing_prize && index == edit_prize_index"
                                @click="savePrize()">
                                
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_6168_322167)">
                                    <path d="M6 2H5V4H6V2Z" fill="#3BA9C2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15 0H1C0.447754 0 0 0.447754 0 1V15C0 15.5522 0.447754 16 1 16H15C15.5522 16 16 15.5522 16 15V1C16 0.447754 15.5522 0 15 0ZM15 1H13V5C13 5.55225 12.5522 6 12 6H4C3.44775 6 3 5.55225 3 5V1H1V15H3V10C3 8.89551 3.89551 8 5 8H11C12.1045 8 13 8.89551 13 10V15H15V1ZM4 1H12V5H4V1ZM12 15H4V10C4 9.44775 4.44775 9 5 9H11C11.5522 9 12 9.44775 12 10V15Z" fill="#3BA9C2"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_6168_322167">
                                    <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>

                            </button>
                        </div>
                    </div>
                </div>

                <!-- <div class="search-form">
                    <input type="text" class="search-input" v-model="search_keyword" placeholder="Search"/>
                </div> -->
        
                <div id="winners-list" class="lists"
                    :class="{ hidden: winners.length == 0}">
                    <div class="section-name">Winners ({{ filteredWinners.length }})</div>
                    <ul>
                        <li class="winner" v-for="(winner, index) in filteredWinners" :key="index">
                            <span style="font-weight: 600;">{{ winner.person }}</span> wins a <span style="font-weight: 600;">{{ winner.prize.name }}</span> from {{ winner.prize.sponsor }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="script.js"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
</body>
</html>